<div class="profile profile-conversation">
  <ul>
    <% @conversation.sentences.each do |sentense| %>
      <li>You said:<%= sentence.content %></li>
      <br>
      <li>Response: <%= sentence.response %></li>
    <% end %>
  </ul>
</div>
  <%= link_to "back to profile", "/users/#{current_user.id}" %>
