  <li class="t-right"><span class="dialog"></span><input class="dialog" onclick='responsiveVoice.speak("<%= sentence.response %>");' type='button' value='response: 🔊' /> <br> <div class="w-input"> <%= sentence.response %></div></li>
