<div class="profile profile-conversation">
  <ul>
    <% @trouble_words.each do |word| %>
      <li><%= word.corrected_word %></li>
    <% end %>
  </ul>
</div>
  <%= link_to "back to profile", "/users/#{current_user.id}" %>
