<div class="fix-width landing">
  <div class="about">
      <p>Conversation Partner is for anyone starting out in a new language. It takes practice to overcome the nervousness of conversing in another language and it can be hard to keep a conversation rolling. Currently, it supports English, but we plan to expand it to other languages as well.</p>

      <h3>How It Works</h3>
      <p>Unlike traditional chat mechanisms, Conversation Partner is designed to ask you questions rather than answer them. Speak or type your comment and Alex, our custom lanuage learning partner, will respond with a follow up question to help you keep talking. If you run out of things to say, they can prompt you with news headlines, tongue twisters, or vocabulary and phrases to try out. They can also define a word for you if you ask "What is....?". If you choose to register, your profile page can show you a list of your past conversations or words you've recently had trouble with.</p>

      <p>Alex is powered by a combination of natural language learning from IBM Watson, a grammar analyzing service called Ginger, and a custom logic controller. This app is built in Ruby on Rails with a Javascript front end.</p>

      <h3>How to Use It</h3>
      <p>To try it without logging in, go back anc click 'Try It Now'. You'll be taken to a screen  where you can start messaging. Type your comment, hit enter or send, and Alex will start talking with you. You can also speak your comment if you're using Google Chrome--just hit the record button and start talking! If Alex doesn't hear you quite right, you can edit the text before you send it. You can also hear the response spoken outloud by pressing the speaker icon above the response.</p>

      <h3>How It Came to Be</h3>
      <p>Team Conversation Partner is made up of: <a href="https://github.com/m-kallstrom">Marla Kallstrom</a>, <a href="https://github.com/imdmitri1">Dmitri Stefanisin</a>, and <a href="https://github.com/archivefever">Clint Thacker</a>. All three of us have experienced living for several years in a new country that doesn't speak our native language. We've all struggled with having basic conversations with the people we meet and feeling self-conscious about our mistakes. Additionally, Marla worked as an EFL teacher for 3 years, and found the vast majority of her students could pass grammar and vocabulary tests but were terrified by the prospect of having to use that knowledge to talk to someone, particuarly a native speaker.</p>
      <p>We hope you'll use Conversation Partner to build your conversation skills and increase your confidence in your language skills!</p>
  </div>
      <p><%= link_to "Back", "/", class: "back" %> </p>
</div>
