<div class="bottom">
  <%= link_to 'Login', '/login',  class: "btn btn-success C input"%>
  <br>
   <%= link_to 'Signup', '/users/new',  class: "btn btn-success C input" %>
   <br>
   <%= link_to 'Try it now!', '/conversations/main',  class: "btn btn-success C input" %>
   <br>
   <%= link_to 'Read about us!', '/about',  class: "btn btn-success C input" %>
</div>
