body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

  div.fix-width {
    max-width: 400px;
    width: 100%;
    margin: auto;
  }

 div.fix-width * {
  text-align: center;
 }

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
/*  margin: 0 auto;*/
  text-align: center;
  margin-bottom: 10%;
}

.bottom * {
  margin: 15px;
  font-size: 1.2em;
}

.landing {
  width: 100%;
  height: 100%;
  margin-top: 20%;
}

#auth {
  background: url("parrot.jpg") rgba(0,0,0,0.6);
  height: 100%;
  top: 0;
  width: 100%;
  z-index: -10;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

label {
  display: none;
}

.input {
  opacity: .8;
  /*width: 80%;*/
  /*margin-right: 50px;*/
}

.W {
  margin: 0 auto;
  max-width: 75%;
}

.C {
  color: #01579B;
  background-color: white;
}

.back {
  color: white;
  text-shadow: 1px 1px black;
}

.about {
  z-index: 0;
  height: 100%;
  background-color: white;
  opacity: .7;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  text-align: center;
}

/*************************/

.conversation  {
/*background color in conversation*/
  /*background: #E8F5E9;*/
  height: 100%;
}

.conv-buttons {
  margin: 10px;
}

.form-control {
  width: 100%;
  resize: none;
}

.main-conv {
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  padding: 1%;
  text-align: center;
  /*margin: 50px;*/
}

.ta-response {
}

.TA {
  min-height: 50px;
  height:auto;
/*background color in response textarea */
  /*background-color: #FFD180;*/
  color: green;
}

/******** profile ***********/

.profile {
  color: #005035;
  border: 0.1em ridge #FF063B;
  border-width: thin;
  word-wrap: normal;
  border-radius: 7px;
  padding: 8px;

}

.pro-header {
  height: 100%;
  max-width: 90%;
  padding: 3px 6px;
  vertical-align: center;
  margin: 0 auto;
  margin-top: 30%;
  text-align: center;
}

.M10px {
  margin: 15px;
}

/***************** trouble-words ********************/

.trouble-words {
  column-count: 2;
  color: #005035;
  border: 0.1em ridge #FF063B;
  border-width: thin;
  word-wrap: normal;
  border-radius: 7px;
  padding: 8px;
  height: 100%;
  max-width: 90%;
  padding: 3px 6px;
  vertical-align: center;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.trouble-words * {
  list-style: none;
  padding-left: 0;
}

/************************************/
.profile-conversation {

}

/************ menu bar *************/

.navbarr {
  max-width: 600px;
  margin: 0 auto;
  /*position: fixed;*/
  width: 100%;
  -webkit-backface-visibility: hidden;
  z-index: 100;
  text-align: center;
  white-space: nowrap;
}

.nav-open {
  padding: 0 10px;
  color: #999999;
  float: right;
}

.nav-close {
  font-size: 25px !important;
  padding: 18px 8px 8px 18px !important;
}

#left-side-close {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  float: left;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #B0BEC5;
  /*overflow-x: hidden;*/
  transition: 0.3s;
  opacity: 0;
}

.sidenav {
  height: 0%;
  width: 0;
  position: fixed;
  float: right;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #B0BEC5;
  overflow-x: hidden;
  transition: 0.3s;
  opacity: 0.9;
}

.sidenav a, .sidenav p {
  padding: 8px 8px 8px 18px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
  color: lightgray;
}

/*****************************************/

.t-left {
  text-align: left;
  color: yellow;
  clear: right;
}

.t-right {
  text-align: right;
  float: right;
  clear: left;
  /*right: 0;*/
}

.dialog {
  color: #00B388;
  font-size: 0.6em;
}

.dialog-ul {
  height: auto;
  list-style: none;
  padding-left: 0;
  padding: 3px;
  border-radius: 10px;
  width: 100%;
}

.li-item {
  width: 100%;
}

.w-input {
  float: right;
  min-height: 32px;
  min-width: 32px;
}

.u-input {
  float: left;
  min-height: 32px;
  min-width: 32px;
}

.u-input, .w-input {
  max-width: 80%;
  width: auto;
  color: #005035;
  border: 0.1em ridge #FF063B;
  border-width: thin;
  word-wrap: normal;
  border-radius: 7px;
  padding: 3px 6px;
  /*max-width: 50%;*/
  margin: 3px;
}

.you {
  margin-left: 5px;
}

#In-form {
  padding-top: 10px;
  clear: both;
}

.three-buttons buttons {
  display: block;
}

/*abbr {
  text-decoration: none;
}*/

/*************************************/

.daily-word {
  height: 100%;
  max-width: 80%;
  color: #005035;
  border: 0.1em ridge #FF063B;
  border-width: thin;
  word-wrap: normal;
  border-radius: 7px;
  padding: 3px 6px;
  vertical-align: center;
  margin: 0 auto;
  margin-top: 35%;
  text-align: center;
}

.back-to-profile {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  clear: both;
}
.MT20px {
  margin-top: 40px;
}

#d-word {
  font-size: 1.8em;
  /*font-weight: bold;*/
}
#d-def {
  margin-top: 25px;
  font-style: italic;
  font-size: 1.3em;
}
/*************************************/

.error * {
  /*line-height: 40px;*/
  padding: 3px;
  color: red;
  background-color: white;
  opacity: .8;
  list-style: none;
  padding-left: 0;
  border-radius: 5px;
}




