body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

  div.fix-width {
    max-width: 400px;
    margin: auto;
  }

 div.fix-width * {
  text-align: center;
 }

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
/*  margin: 0 auto;*/
  text-align: center;
  margin-bottom: 10%;
}

.bottom * {
  margin: 15px;
  font-size: 1.2em;
}

.landing {
  width: 100%;
  height: 100%;
  margin-top: 20%;
}

#auth {
  background: url("parrot.jpg") rgba(0,0,0,0.6);
  height: 100%;
  top: 0;
  width: 100%;
  z-index: -10;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

label {
  display: none;
}

.input {
  opacity: .8;
  /*width: 80%;*/
  /*margin-right: 50px;*/

}

.C {
  color: #01579B;
  background-color: white;
}

.back {
  color: white;
  text-shadow: 1px 1px black;
}

.about {
  z-index: 0;
  height: 100%;
  background-color: white;
  opacity: .7;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  text-align: center;
}

/*************************/

.conversation  {
/*background color in conversation*/
  /*background: #E8F5E9;*/
  height: 100%;
}

.conv-buttons {
  margin: 10px;
}

.form-control {
  width: 100%;
  resize: none;
}

.main-conv {
  height: 100%;
  margin: 3%;
  text-align: center;
  /*margin: 50px;*/
}

.ta-response {
}

.TA {
  min-height: 100px;
  height:auto;
/*background color in response textarea */
  /*background-color: #FFD180;*/
  color: green;
}

/******** profile ***********/

.profile {
  margin: 5px;
  background-color: #CFD8DC;
  padding: 5px;
  border-radius: 10px;
}

.profile-conversation {

}

/************ menu bar *************/

.navbarr {
  position: fixed;
  width: 100%;
  -webkit-backface-visibility: hidden;
  z-index: 100;
  text-align: center;
  white-space: nowrap;
}

.nav-open {
  padding: 0 10px;
  color: #999999;
  float: right;
}

.nav-close {
  font-size: 25px !important;
  padding: 18px 8px 8px 18px !important;
}

#left-side-close {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  float: left;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #B0BEC5;
  /*overflow-x: hidden;*/
  transition: 0.3s;
  opacity: 0;
}

.sidenav {
  height: 0%;
  width: 0;
  position: fixed;
  float: right;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #B0BEC5;
  overflow-x: hidden;
  transition: 0.3s;
  opacity: 0.9;
}

.sidenav a, .sidenav p {
  padding: 8px 8px 8px 18px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
  color: lightgray;
}

/*****************************************/

.t-left {
  text-align: left;
  color: yellow;
}

.t-right {
  text-align: right;

}

.dialog {
  color: #00B388;
  font-size: 0.6em;
}

.dialog-ul {
  height: auto;
  list-style: none;
  padding-left: 0;
  padding: 5px;
  border-radius: 10px;
}

.u-input, .w-input {
  color: #005035;
  border: 0.1em ridge #FF063B;
  border-width: thin;
  word-wrap: break-word;
  border-radius: 7px;
  padding: 3px 6px;
  max-width: 75%;
}


/*************************************/

.error * {
  /*line-height: 40px;*/
  padding: 3px;
  color: red;
  background-color: white;
  opacity: .8;
  list-style: none;
  padding-left: 0;
  border-radius: 5px;
}




